<aside class="w-64 bg-white border-r shadow-sm fixed inset-y-0 left-0">
  <div class="flex flex-col h-auto p-4 gap-2">

    <h2 class="text-lg font-bold mb-2">Menu</h2>

    <p-button label="Dashboard" icon="pi pi-home" styleClass="w-full justify-start b" variant="text" severity="secondary"></p-button>
    <p-button label="Comercial" icon="pi pi-briefcase" styleClass="w-full justify-start" variant="text" severity="secondary"></p-button>
    <p-button label="Ordem de Serviço" icon="pi pi-file-edit" styleClass="w-full justify-start" variant="text" severity="secondary"></p-button>
    <p-button label="Amostras" icon="pi pi-flask" styleClass="w-full justify-start" variant="text" severity="secondary"></p-button>
    <p-button label="Recebimento" icon="pi pi-inbox" styleClass="w-full justify-start" variant="text" severity="secondary"></p-button>
    <p-button label="Execução Técnica" icon="pi pi-cog" styleClass="w-full justify-start" variant="text" severity="secondary"></p-button>
    <p-button label="Qualidade e Laudos" icon="pi pi-check-circle" styleClass="w-full justify-start" variant="text" severity="secondary"></p-button>
    <p-button label="Relatórios" icon="pi pi-chart-line" styleClass="w-full justify-start" variant="text" severity="secondary"></p-button>

    <div class="border-t my-2"></div>

    <span class="text-xs font-semibold uppercase text-gray-500 px-2">
      Cadastro
    </span>

    <p-button label="Colaboradores" icon="pi pi-users" styleClass="w-full justify-start pl-6" variant="text" severity="secondary"></p-button>
    <p-button label="Clientes" icon="pi pi-id-card" styleClass="w-full justify-start pl-6" variant="text" severity="secondary"></p-button>

  </div>
</aside>
